/* ----- reset ----- */

html {
    box-sizing: border-box;   
}   *, *:before, *:after {     box-sizing: inherit;   }

/* --------- typography ---------- */

/* --------- layout ---------- */

#site-main {
    border: 1px solid black;
    text-align: center;
}

canvas {
    border: solid 2px black; 
}
/* --------- components ---------- */


/* --------- pages ---------- */


/* --------- TEMP ----------
div, header, section, footer, nav, article, p {
	border: 1px solid black;
} */
